<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @filling.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @filling.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @filling.price %>
</p>

<%= link_to 'Edit', edit_filling_path(@filling) %> |
<%= link_to 'Back', fillings_path %>
