<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @filling.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @filling.description %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @filling.price %>
</p>
<%= link_to 'Voltar', fillings_path %>
