<%- model_class = Product -%>
<div class="page-header">
  <h3><%= "Lista de Produtos" %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= "Foto:" %></th>
      <th><%= "Nome:" %></th>
      <th><%= "Preço" %></th>
      <th><%= "Descrição" %></th>
      <th><%= "Categoria" %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.where(status: "ativo").each do |product| %>
      <tr>
        <td><%= link_to image_tag(product.image.large_thumb.url), product %></td>
        <td><%= product.name %></td>
        <td><%= format_valor(product.price) %></td>
        <td><%= product.description %></td>
        <td><%= product.category.name %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      product_path(product), :class => 'btn btn-dark btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "home", root_path, :class => 'btn btn-dark btn-sm' %>